<div id="addUser">
  <form #userForm="ngForm">
    <div class="form-group required row">
      <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName"
          #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
          First Name is Required
        </div>
      </div>
    </div>
    <div class="form-group required row">
      <label for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="lastName"
          #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
          Last Name is Required
        </div>
      </div>
    </div>
    <div class="form-group required row">
      <label for="empId" class="col-sm-2 col-form-label">Employee ID:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="empId" required [(ngModel)]="user.empId" name="empId" #empId="ngModel">
        <div [hidden]="empId.valid || empId.pristine" class="alert alert-danger">
          Employee ID is Required
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-6">
        <input type="button" id="reset" class="btn btn-info float-right" (click)="userForm.reset()" value="Reset">
        <div *ngIf="isAddButton">
          <input type="button" id="add" class="btn btn-info float-right mg-15" [disabled]="!userForm.form.valid" (click)="saveUser()" value="Add User">
        </div>
        <div *ngIf="!isAddButton">
          <input type="button" id="update" class="btn btn-info float-right mg-15" [disabled]="!userForm.form.valid" (click)="updateUser()"
            value="Update User">
        </div>
      </div>
    </div>
  </form>
</div>

<hr size="pixels" class="line" />
<div id="getUsers">
  <div class="form-group required row">
    <div class="col-sm-3">
      <input type="text" class="form-control" placeholder="search" id="search" required [(ngModel)]="searchEmpId" name="empId" #empId="ngModel">
    </div>
    <div class="col-sm-6">
        <input type="button" id="id" class="btn btn-info float-right mg-15" (click)="sortUser('empId')" value="Id">
        <input type="button" id="lName" class="btn btn-info float-right mg-15" (click)="sortUser('lastName')" value="Last Name">
        <input type="button" id="fName" class="btn btn-info float-right mg-15" (click)="sortUser('firstName')" value="First Name">
      </div>
  </div>
  <ul class="list-group" *ngFor="let usr of users | userSerach:searchEmpId |sort:sortFieldName;let i = index">
    <li class="list-group-item"> <b>First Name :</b> {{usr.firstName}}<input type="button" id="{{i}}" class="btn btn-info float-right"
        (click)="loadUser(i)" value="update"></li>
    <li class="list-group-item"><b>Last Name :</b>{{usr.lastName}} <input type="button" id="{{i}}" class="btn btn-info float-right"
        (click)="deleteUser(i)" value="delete"></li>
    <li class="list-group-item"><b>Employee ID :</b>{{usr.empId}} </li>
    <hr />
  </ul>
</div>