.form-group.required .col-form-label:after {
    content:"*";
    color:red;
  }

  .pd-90{
      padding-left: 90%;
  }

.mg-15{
    margin-right: 15px;
}

hr.line {
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}
    